# Python
__pycache__/
*.pyc

# Virtual environment
venv/
tf_env/

# Dataset and models can be written here to avoid pushing large files to the repository
# data/

# Models (large files)
# *.keras
# *.h5

# OS files
.DS_Store
Thumbs.db